body {
    margin: 0;
    font-family:"Raleway", sans-serif;
    border: 0px;
    padding: 0px;
}
.header-index {
    background-color: black;
    padding-top: 30px;
    height: 70px;
    width: 1280px;
    text-align: center;
  }
.header-index li,a {
    color: white;
    font-family:"Raleway", sans-serif;
    display: inline-block;
    font-size: 17px;
}

.content-index{
    background-image:url("./asset/foto_background_index.resized.jpg");
    background-position:center;
    background-repeat: no-repeat;
    height: 800px;
    width: 1280px;
    text-align: center;
    padding-top: 100px;
    }

.content-index p{
    font-size: 20px;
}

.footer-index {
    background-color:black;
    padding-top: 17px;
    height:80px;
    width: 1280px;
    text-align: center;
    font-family:"Raleway", sans-serif;
}

.footer-index p,h3{
    font-size: 17px;
    color: white;
}

.button-index {
  border:0 solid black;
  color:black;
  padding: 5px 5px 5px 5px;
  text-align: center;
  text-decoration: none;
  display:inline;
  font-size: 17px;
  margin: 0px 0px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  font-family:"Raleway", sans-serif;
}

.button-index button{
    font-weight: bold;
}
.button-index:hover {
    background-color:black;
    color: white;
  }
.header-about {
    background-color: black;
    padding-top: 30px;
    height: 70px;
    width: 1280px;
    text-align: center;
}
.header-about li,a {
    color: white;
    font-family:"Raleway", sans-serif;
    display: inline-block;
    font-size: 17px;
}
.content-about {
    height: 800px;
    width: 1280px;
    text-align: center;
    }

.content-about p{
    font-size: 20px;
    font-family:"Raleway", sans-serif;
}

.grid-about{
    display: grid;
    height: 550px;
    widows: 1280px;
    grid-template-columns: 50% 50%;
    margin-top: 50px;
}

.gambar {
text-align: center;
}
.tulisan{
text-align:left;
padding-right: 25px;
}
.quote-about{
text-align: center;
margin:0px 100px 100px 100px ;
}

.footer-about {
    background-color:black;
    padding-top: 17px;
    height:80px;
    width: 1280px;
    text-align: center;
    font-family:"Raleway", sans-serif;
}

.footer-about p,h3{
    font-size:17px;
    color: white;
}

.header-contact {
    background-color: black;
    padding-top: 30px;
    height: 70px;
    width: 1280px;
    text-align: center;
}
.header-contact li,a {
    color: white;
    font-family:"Raleway", sans-serif;
    display: inline-block;
    font-size: 17px;
}


.sosmed-contact li{
display:inline-block;
text-align: center;    
}

.sosmed-contact p,label,input{
text-align: center;
font-size: 17px;
color: black;
font-family:"Raleway", sans-serif;
}
.footer-contact {
    background-color:black;
    padding-top: 17px;
    height:80px;
    width: 1280px;
    text-align: center;
    font-family:"Raleway", sans-serif;
}
.footer-contact p,h3{
    font-size:17px;
    color: white;
}
.content-contact{
    background-image:url("./asset/301.resized.jpg");
    background-position:center;
    background-repeat: no-repeat;
    height: 800px;
    width: 1280px;
    text-align: center;
    padding-top: 50px;
    }

.content-contact p,label,input{
    font-size: 17px;
    font-family:"Raleway", sans-serif;

    
}
